<div class="container">
    <h1>Sign in /Login </h1>
    <br>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Your email" required>
        <hr>
        <input type="password" name="password" placeholder="password" required>
        <hr>
        <input type="submit" value="Sign in">
    </form>
</div>